
<div class="container">
<section class= "round">
Contact our clinics

International SOS Assistance Centers are open to help members 24-hours a day, 365 days a year. <br></br>
 When you need immediate medical, security or travel advice or help in an emergency, call an International SOS Assistance Center.
 <br></br> <br></br>
Doha Assistance Center
Inside Doha: 44 564 234
Outside Doha: +974 344 9100  
 <br></br>
Al-khor Assistance Center:  _974 344 5675 <br></br>
</section>
</div>