<div class="container">
<section class= "round">

  <h2>Welcome to the NAO clinic</h2>
  <p><span>NAO Clinic</span> offers Medical Massage Therapy 
  with Neuromuscular Approach that explains relationship between every part of your body.
   It is a scientifically based Manual Therapy System that finds and treats the Cause of your Pain. These treatments are designed to treat and solve your 
   specific problems for a short period of time efficiently with profound effect on your body.

Medical Massage Therapy with Neuromuscular Approach is a system of manually applied techniques designed to reduce pain, establish normal tissue tension, 
and create a positive tissue environment and to normalize the balance and the movement of the musculoskeletal system.

Holistic Medical Massage Clinic in Tacoma specializes in applying these manual therapy techniques under the prescription and supervision 
from a medical, naturopathic and osteopathic doctor, physical therapist and a chiropractic doctor.  </p>
  <!--latest event start -->
 
 <br class="balnk" />
</section>
</div>